@import '_typing.scss', 
'_login.scss', 
'_chat.scss', 
'_leftSideboard.scss', 
'_freePainting.scss',
'_header.scss',
'answers.scss';

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

//Imported scss file for different sections 

//Login
@include login();

//Header
@include header();

//Drawing answers
@include answer();

//Free Painting Mode
@include freePaintingMode();

//Sideboard Left
@include sideBoardLeft();

//Chat
@include chat();