@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

@import '_typing.scss', 
'_login.scss', 
'_chat.scss', 
'_leftSideboard.scss', 
'_freePainting.scss',
'_header.scss',
'answers.scss';

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --primaryBackground: (93.12deg, #7EF8B6 0.52%, #2E4531 100%);
  --secondaryGradient: (268.91deg, #f5927c -2.14%, #45382e 99.69%);
}

body{
  background: linear-gradient(93.12deg, #7EF8B6 0.52%, #2E4531 100%);
}


//Imported scss file for different sections 

//Login
@include login();

//Header
@include header();

//Drawing answers
@include answer();

//Free Painting Mode
@include freePaintingMode();

//Sideboard Left
@include sideBoardLeft();

//Chat
@include chat();