/* Chatbox Start */
/* Chatbox end */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#login_section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 30%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

#login_section #login_img_left {
  position: fixed;
  left: 0;
  height: 1053px;
  width: 526px;
  background-position-y: 200px;
  background-position-x: -300px;
  background-image: url("../images/login_left_side.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

#login_section #login_img_right {
  position: fixed;
  right: 0;
  height: 1053px;
  width: 526px;
  background-position-y: 500px;
  background-position-x: 0px;
  background-image: url("../images/login_right_side.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

#login_section h1 {
  font-family: 'OCR A Std';
  font-size: 2rem;
}

#login_section form {
  margin-top: 3rem;
}

#login_section form p {
  font-family: 'Avenir LT Std';
}

#login_section form input {
  height: 2rem;
  width: 15rem;
  margin-top: 0.6rem;
  padding: 0.5rem;
  font-family: 'Avenir LT Std';
  background-color: transparent;
  border: 0.1px solid black;
}

#login_section button {
  height: 2rem;
  width: 15rem;
  margin-top: 1rem;
  font-family: 'Avenir LT Std';
  background-color: #2E4531;
  color: white;
}

#header_section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 2rem;
}

#header_section h1 {
  font-family: 'OCR A Std';
  font-size: 2rem;
}

#header_section p {
  font-size: 1rem;
  margin: 2rem 0 1rem 0;
  font-family: 'OCR A Std';
}

#header_section .toggle {
  display: flex;
  justify-content: center;
  --width: 50px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);
  cursor: pointer;
}

#header_section .toggle .toggle__input {
  display: none;
}

#header_section .toggle .toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}

#header_section .toggle__input:checked ~ .toggle__fill {
  background: #009578;
}

#header_section .toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

#header_section .toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

#drawing_answer {
  position: fixed;
  right: 3rem;
  top: 5rem;
  background-color: white;
  height: 15rem;
  width: 15rem;
}

#container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

#container h1 {
  font-family: 'OCR A Std';
  font-size: 2rem;
  margin: 3rem;
}

#container #saveBtn {
  height: 2rem;
  width: 15rem;
  margin-top: 1rem;
  font-family: 'Avenir LT Std';
  font-size: 1rem;
  text-align: center;
  background-color: #2E4531;
  color: white;
}

.box {
  border-left: solid 1px rgba(0, 0, 0, 0.5);
  border-top: solid 1px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
  background-color: "white";
}

#board {
  display: grid;
  grid-template-rows: repeat(15, 1fr);
  grid-template-columns: repeat(15, 1fr);
  grid-gap: 1px;
  width: 70vh;
  height: 70vh;
}

#saved_paintings_archive {
  margin: 2rem;
  position: fixed;
  left: 0;
  top: 6.4rem;
  height: 1rem;
}

#saved_paintings_archive h2 {
  height: 5rem;
  padding: 2rem 0;
  text-align: center;
  background-color: #2E4531;
  color: #7EF8B6;
  margin-bottom: 0.5rem;
  font-family: 'OCR A Std';
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.2rem;
  font-weight: 400;
}

#saved_paintings_archive #saved_paintings_archive_wrapper {
  border: 1px dashed black;
  padding: 2rem;
  overflow-y: scroll;
  height: 31rem;
  background-color: white;
  opacity: 0.9;
}

:root {
  --primaryGradient: linear-gradient(93.12deg, #7EF8B6 0.52%, #2E4531 100%);
  --secondaryGradient: linear-gradient(268.91deg, #7EF8B6 -2.14%, #2E4531 99.69%);
  --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --light: 300;
  --regular: 400;
  --semiBold: 600;
  --extraLight: 300;
  --italic: 300;
  --primary: #581B98;
}

#chatBox {
  position: fixed;
  right: 0;
  bottom: 0;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: white;
  outline: none;
  font-family: 'Nunito', sans-serif;
  /* Chatbox Footer*/
  /* Chatbox Button*/
}

#chatBox .chatNotActive {
  display: none;
  height: 4rem;
  border: 2px solid firebrick;
}

#chatBox .chatBoxContent {
  height: 330px;
  width: 350px;
  /* Chatbox Header*/
  /* Chatbox Message / Player Area */
}

#chatBox .chatBoxContent .chatbox_header {
  background: var(--primaryGradient);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: var(--primaryBoxShadow);
}

#chatBox .chatBoxContent .chatbox_header span {
  height: 25px;
  width: 25px;
  color: #9c2626;
  background-color: #509b46;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
}

#chatBox .chatBoxContent .chatbox_header h4 {
  font-size: 1.2rem;
  color: white;
}

#chatBox .chatBoxContent .chatbox_header p {
  font-size: .7rem;
  padding-top: 0.5rem;
  color: white;
}

#chatBox .chatBoxContent .chatBox_contentWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 10rem;
  width: 100%;
  background: white;
  border: 1px solid #858181;
  overflow: hidden;
  /* Player Area */
  /* Message Area */
}

#chatBox .chatBoxContent .chatBox_contentWrapper .chatbox_playerSidebar {
  padding: 1rem;
  border-right: 1px solid #858181;
  width: 35%;
}

#chatBox .chatBoxContent .chatBox_contentWrapper .chatbox_playerSidebar h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

#chatBox .chatBoxContent .chatBox_contentWrapper .chatbox_playerSidebar span {
  height: 15px;
  width: 15px;
  color: #9c2626;
  background-color: #509b46;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

#chatBox .chatBoxContent .chatBox_contentWrapper .chatbox_playerSidebar li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  margin: 0.3rem 0;
  font-weight: 500;
}

#chatBox .chatBoxContent .chatBox_contentWrapper #chatbox_chatmsgArea {
  padding: 1rem;
  width: 65%;
  max-height: 100%;
  overflow-y: scroll;
}

#chatBox .chatBoxContent .chatBox_contentWrapper #chatbox_chatmsgArea .messages_item {
  margin-bottom: 10px;
  background: #E0E0E0;
  padding: 8px 12px 0px 12px;
  max-width: 75%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#chatBox .chatBoxContent .chatBox_contentWrapper #chatbox_chatmsgArea .messages_item span {
  opacity: 0.9;
  font-size: 1rem;
  color: white;
  text-decoration: underline;
}

#chatBox .chatBoxContent .chatBox_contentWrapper #chatbox_chatmsgArea .messages_item .chatMessage {
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  font-size: 0.6;
  word-break: break-word;
}

#chatBox .chatBoxContent .chatBox_contentWrapper #chatbox_chatmsgArea .message_sender {
  background: var(--primary);
  color: white;
  margin-left: auto;
  padding-right: 1rem;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
}

#chatBox .chatBoxContent .chatBox_contentWrapper #chatbox_chatmsgArea .message_reciver {
  background-color: #E0E0E0;
  color: #000000;
  margin-right: auto;
  padding-right: 1rem;
}

#chatBox .chatBoxContent .chatBox_contentWrapper #chatbox_chatmsgArea .message_item_typing {
  will-change: transform;
  width: auto;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 15px;
  display: table;
  margin-right: auto;
  position: relative;
  animation: 2s bulge infinite ease-out;
  background-color: #e4e4e6;
}

#chatBox .chatBoxContent .chatBox_contentWrapper #chatbox_chatmsgArea .message_item_typing:before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

#chatBox .chatBoxContent .chatBox_contentWrapper #chatbox_chatmsgArea .message_item_typing:after {
  height: 10px;
  width: 10px;
  left: -10px;
  bottom: -10px;
}

#chatBox .chatBoxContent .chatBox_contentWrapper #chatbox_chatmsgArea .message_item_typing span {
  height: 8px;
  width: 8px;
  float: left;
  margin: 0 1px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
  animation: 1s blink infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}

#chatBox .chatbox_footer {
  padding: 30px 30px;
  background: var(--secondaryGradient);
  box-shadow: var(--secondaryBoxShadow);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#chatBox .chatbox_footer form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#chatBox .chatbox_footer form input {
  border: none;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: center;
}

#chatBox .chatbox_footer form button {
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#chatBox .chatbox_footer form button:hover {
  cursor: pointer;
  font-size: 1.03rem;
  transition: 0.3s;
}

#chatBox .chatbox_button {
  padding: 10px;
  background: none;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  cursor: pointer;
  margin: 1rem 0 0.5rem 17rem;
}
/*# sourceMappingURL=style.css.map */