

#container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 300px;
  
}
.box{
  height: 30px;
  width: 30px;
  border: 2px solid black;
  margin: 10px;
  background-color:"white";
}

